* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    line-height: 1.5;
    background-color: #708090;
}

#main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    background-color: #fff;
    width: 90rem;
    height: 55rem;
    padding: 1rem 2rem;
}

#title {
    font-size: 2rem;
    text-align: center;
}
